@charset "UTF-8";

.site-header-cart .widget_shopping_cart,
.main-navigation ul.menu ul.sub-menu,
.main-navigation ul.nav-menu ul.children {
  background-color: $gray !important;
  p.total {
    background-color: $gray-dark;
  }
  p.buttons {
    background-color: $gray-light;
  }
}