/**
 * Strictly Layout Styles
 */
@media (min-width: 768px) {
  /* line 9, ../sass/theme/base/_layout.scss */
  table.shop_table_responsive tbody tr td,
  table.shop_table_responsive tbody tr th {
    text-align: left;
  }

  /* line 17, ../sass/theme/base/_layout.scss */
  .site-header {
    padding-top: 2.61792em;
    padding-bottom: 0;
  }
  /* line 21, ../sass/theme/base/_layout.scss */
  .site-header .site-branding {
    display: block;
    width: 39.13043%;
    float: left;
    margin-right: 4.34783%;
    clear: both;
  }
  /* line 26, ../sass/theme/base/_layout.scss */
  .site-header .site-branding img {
    height: auto;
    max-width: 100%;
    max-height: none;
  }

  /* line 36, ../sass/theme/base/_layout.scss */
  .woocommerce-active .site-header .secondary-navigation {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 40, ../sass/theme/base/_layout.scss */
  .woocommerce-active .site-header .site-search {
    width: 21.73913%;
    float: right;
    margin-right: 0;
    clear: none;
  }
  /* line 45, ../sass/theme/base/_layout.scss */
  .woocommerce-active .site-header .main-navigation {
    width: 73.91304%;
    float: left;
    margin-right: 4.34783%;
    clear: both;
  }
  /* line 50, ../sass/theme/base/_layout.scss */
  .woocommerce-active .site-header .site-header-cart {
    width: 21.73913%;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 58, ../sass/theme/base/_layout.scss */
  .site-branding .site-description {
    margin-bottom: 0;
    display: block;
  }

  /* line 64, ../sass/theme/base/_layout.scss */
  .site-branding,
  .site-search,
  .site-header-cart,
  .site-logo-anchor,
  .site-logo-link,
  .custom-logo-link {
    margin-bottom: 1.41575em;
  }

  /* line 74, ../sass/theme/base/_layout.scss */
  .site-header .subscribe-and-connect-connect {
    float: right;
    margin-bottom: 1em;
  }
  /* line 78, ../sass/theme/base/_layout.scss */
  .site-header .subscribe-and-connect-connect .icons {
    list-style: none;
    margin: 0;
  }
  /* line 82, ../sass/theme/base/_layout.scss */
  .site-header .subscribe-and-connect-connect .icons a {
    font-size: 1em !important;
  }
  /* line 86, ../sass/theme/base/_layout.scss */
  .site-header .subscribe-and-connect-connect .icons li {
    margin: 0 0 0 0.54079em !important;
    display: inline-block;
  }

  /* line 94, ../sass/theme/base/_layout.scss */
  .col-full {
    max-width: 66.49894em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.61792em;
    box-sizing: content-box;
  }
  /* line 2, ../sass/theme/utils/_mixins.scss */
  .col-full:before, .col-full:after {
    content: "";
    display: table;
  }
  /* line 6, ../sass/theme/utils/_mixins.scss */
  .col-full:after {
    clear: both;
  }
  /* line 12, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .col-full:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 65, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
  head {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    color: #333;
    background: rgba(255, 255, 255, 0.25);
  }
  /* line 66, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
  head:before {
    content: "|||";
    display: block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  /* line 67, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
  head:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red;
  }
  /* line 71, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
  head:hover ~ .col-full, head:hover ~ body .col-full {
    position: relative;
  }
  /* line 74, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
  head:hover ~ .col-full:before, head:hover ~ body .col-full:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    z-index: 998;
    background-image: -webkit-linear-gradient( left , rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 50%, transparent 50%);
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 50%, transparent 50%);
    background-size: 8.69565%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }

  /* line 2, ../sass/theme/utils/_mixins.scss */
  .site-content:before, .site-content:after {
    content: "";
    display: table;
  }
  /* line 6, ../sass/theme/utils/_mixins.scss */
  .site-content:after {
    clear: both;
  }

  /* line 105, ../sass/theme/base/_layout.scss */
  .content-area {
    width: 73.91304%;
    float: left;
    margin-right: 4.34783%;
  }

  /* line 109, ../sass/theme/base/_layout.scss */
  .widget-area {
    width: 21.73913%;
    float: right;
    margin-right: 0;
  }

  /* line 114, ../sass/theme/base/_layout.scss */
  .right-sidebar .content-area {
    width: 73.91304%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 118, ../sass/theme/base/_layout.scss */
  .right-sidebar .widget-area {
    width: 21.73913%;
    float: right;
    margin-right: 0;
  }

  /* line 124, ../sass/theme/base/_layout.scss */
  .left-sidebar .content-area {
    width: 73.91304%;
    float: right;
    margin-right: 0;
  }
  /* line 128, ../sass/theme/base/_layout.scss */
  .left-sidebar .widget-area {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
  }

  /* line 134, ../sass/theme/base/_layout.scss */
  .storefront-full-width-content .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 139, ../sass/theme/base/_layout.scss */
  .content-area,
  .widget-area {
    margin-bottom: 2.61792em;
  }

  /**
   * Full width & homepage template
   */
  /* line 149, ../sass/theme/base/_layout.scss */
  .page-template-template-fullwidth-php .content-area,
  .page-template-template-homepage-php .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /**
   * Footer widgets
   */
  /* line 157, ../sass/theme/base/_layout.scss */
  .footer-widgets {
    padding-top: 4.2358em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  /* line 2, ../sass/theme/utils/_mixins.scss */
  .footer-widgets:before, .footer-widgets:after {
    content: "";
    display: table;
  }
  /* line 6, ../sass/theme/utils/_mixins.scss */
  .footer-widgets:after {
    clear: both;
  }
  /* line 163, ../sass/theme/base/_layout.scss */
  .footer-widgets.col-2 .block {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 166, ../sass/theme/base/_layout.scss */
  .footer-widgets.col-2 .block.footer-widget-2 {
    float: right;
    margin-right: 0;
  }
  /* line 173, ../sass/theme/base/_layout.scss */
  .footer-widgets.col-3 .block {
    width: 30.43478%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 176, ../sass/theme/base/_layout.scss */
  .footer-widgets.col-3 .block.footer-widget-3 {
    float: right;
    margin-right: 0;
  }
  /* line 183, ../sass/theme/base/_layout.scss */
  .footer-widgets.col-4 .block {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 186, ../sass/theme/base/_layout.scss */
  .footer-widgets.col-4 .block.footer-widget-4 {
    float: right;
    margin-right: 0;
  }

  /**
   * Comments
   */
  /* line 2, ../sass/theme/utils/_mixins.scss */
  .comment-list:before, .comment-list:after {
    content: "";
    display: table;
  }
  /* line 6, ../sass/theme/utils/_mixins.scss */
  .comment-list:after {
    clear: both;
  }
  /* line 201, ../sass/theme/base/_layout.scss */
  .comment-list .comment {
    clear: both;
  }
  /* line 205, ../sass/theme/base/_layout.scss */
  .comment-list .comment-meta {
    width: 17.64706%;
    float: left;
    margin-right: 5.88235%;
    text-align: right;
  }
  /* line 209, ../sass/theme/base/_layout.scss */
  .comment-list .comment-meta .avatar {
    float: right;
  }
  /* line 214, ../sass/theme/base/_layout.scss */
  .comment-list .comment-content {
    padding-bottom: 3.70633em;
    margin-bottom: 3.70633em;
  }
  /* line 219, ../sass/theme/base/_layout.scss */
  .comment-list .comment-content,
  .comment-list #respond {
    width: 76.47059%;
    float: right;
    margin-right: 0;
  }
  /* line 224, ../sass/theme/base/_layout.scss */
  .comment-list #respond {
    float: right;
  }
  /* line 226, ../sass/theme/base/_layout.scss */
  .comment-list #respond .comment-form-author,
  .comment-list #respond .comment-form-email,
  .comment-list #respond .comment-form-url {
    width: 100%;
    margin-right: 0;
  }
  /* line 235, ../sass/theme/base/_layout.scss */
  .comment-list .comment-body #respond {
    box-shadow: 0 6px 2em rgba(0, 0, 0, 0.2);
    margin-bottom: 2.61792em;
    margin-top: -1.618em;
  }
  /* line 242, ../sass/theme/base/_layout.scss */
  .comment-list .reply {
    clear: both;
    text-align: right;
  }
  /* line 247, ../sass/theme/base/_layout.scss */
  .comment-list ol.children {
    width: 88.23529%;
    float: right;
    margin-right: 0;
    list-style: none;
  }
  /* line 251, ../sass/theme/base/_layout.scss */
  .comment-list ol.children .comment-meta {
    width: 20%;
    float: left;
    margin-right: 6.66667%;
  }
  /* line 255, ../sass/theme/base/_layout.scss */
  .comment-list ol.children .comment-content,
  .comment-list ol.children #respond {
    width: 73.33333%;
    float: right;
    margin-right: 0;
  }
  /* line 260, ../sass/theme/base/_layout.scss */
  .comment-list ol.children ol.children {
    width: 86.66667%;
    float: right;
    margin-right: 0;
  }
  /* line 263, ../sass/theme/base/_layout.scss */
  .comment-list ol.children ol.children .comment-meta {
    width: 23.07692%;
    float: left;
    margin-right: 7.69231%;
  }
  /* line 267, ../sass/theme/base/_layout.scss */
  .comment-list ol.children ol.children .comment-content,
  .comment-list ol.children ol.children #respond {
    width: 69.23077%;
    float: right;
    margin-right: 0;
  }
  /* line 272, ../sass/theme/base/_layout.scss */
  .comment-list ol.children ol.children ol.children {
    width: 84.61538%;
    float: right;
    margin-right: 0;
  }
  /* line 275, ../sass/theme/base/_layout.scss */
  .comment-list ol.children ol.children ol.children .comment-meta {
    width: 27.27273%;
    float: left;
    margin-right: 9.09091%;
  }
  /* line 279, ../sass/theme/base/_layout.scss */
  .comment-list ol.children ol.children ol.children .comment-content,
  .comment-list ol.children ol.children ol.children #respond {
    width: 63.63636%;
    float: right;
    margin-right: 0;
  }
  /* line 284, ../sass/theme/base/_layout.scss */
  .comment-list ol.children ol.children ol.children ol.children {
    width: 81.81818%;
    float: right;
    margin-right: 0;
  }
  /* line 287, ../sass/theme/base/_layout.scss */
  .comment-list ol.children ol.children ol.children ol.children .comment-meta {
    width: 33.33333%;
    float: left;
    margin-right: 11.11111%;
  }
  /* line 291, ../sass/theme/base/_layout.scss */
  .comment-list ol.children ol.children ol.children ol.children .comment-content,
  .comment-list ol.children ol.children ol.children ol.children #respond {
    width: 55.55556%;
    float: right;
    margin-right: 0;
  }

  /* line 301, ../sass/theme/base/_layout.scss */
  #respond {
    padding: 2.61792em;
  }
  /* line 304, ../sass/theme/base/_layout.scss */
  #respond .comment-form-author,
  #respond .comment-form-email,
  #respond .comment-form-url {
    width: 29.41176%;
    float: left;
    margin-right: 5.88235%;
  }
  /* line 310, ../sass/theme/base/_layout.scss */
  #respond .comment-form-url {
    float: right;
    margin-right: 0;
  }
  /* line 314, ../sass/theme/base/_layout.scss */
  #respond .comment-form-comment {
    clear: both;
  }

  /**
   * Content
   */
  /* line 323, ../sass/theme/base/_layout.scss */
  .hentry .entry-header {
    margin-bottom: 2.61792em;
  }

  /* line 2, ../sass/theme/utils/_mixins.scss */
  .hentry.type-post:before, .hentry.type-post:after {
    content: "";
    display: table;
  }
  /* line 6, ../sass/theme/utils/_mixins.scss */
  .hentry.type-post:after {
    clear: both;
  }
  /* line 331, ../sass/theme/base/_layout.scss */
  .hentry.type-post .entry-meta {
    width: 17.64706%;
    float: left;
    margin-right: 5.88235%;
    font-size: 0.875em;
  }
  /* line 336, ../sass/theme/base/_layout.scss */
  .hentry.type-post .entry-content {
    width: 76.47059%;
    float: right;
    margin-right: 0;
  }

  /**
   * Menus
   *
   * 1 - We have to use a `left` declaration so that dropdowns are revealed when tabbed.
   */
  /* line 346, ../sass/theme/base/_layout.scss */
  .menu-toggle,
  .handheld-navigation,
  .main-navigation.toggled .handheld-navigation,
  .main-navigation.toggled div.menu {
    display: none;
  }

  /* line 353, ../sass/theme/base/_layout.scss */
  .primary-navigation {
    display: block;
  }

  /* line 357, ../sass/theme/base/_layout.scss */
  .main-navigation,
  .secondary-navigation {
    clear: both;
    display: block;
    width: 100%;
  }
  /* line 364, ../sass/theme/base/_layout.scss */
  .main-navigation ul,
  .secondary-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: block;
  }
  /* line 370, ../sass/theme/base/_layout.scss */
  .main-navigation ul li,
  .secondary-navigation ul li {
    position: relative;
    display: inline-block;
    text-align: left;
  }
  /* line 375, ../sass/theme/base/_layout.scss */
  .main-navigation ul li a,
  .secondary-navigation ul li a {
    display: block;
  }
  /* line 378, ../sass/theme/base/_layout.scss */
  .main-navigation ul li a:before,
  .secondary-navigation ul li a:before {
    display: none;
  }
  /* line 386, ../sass/theme/base/_layout.scss */
  .main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul,
  .secondary-navigation ul li:hover > ul,
  .secondary-navigation ul li.focus > ul {
    left: 0;
    display: block;
  }
  /* line 391, ../sass/theme/base/_layout.scss */
  .main-navigation ul li:hover > ul li > ul, .main-navigation ul li.focus > ul li > ul,
  .secondary-navigation ul li:hover > ul li > ul,
  .secondary-navigation ul li.focus > ul li > ul {
    left: -9999px;
    /* 1 */
  }
  /* line 394, ../sass/theme/base/_layout.scss */
  .main-navigation ul li:hover > ul li > ul.sub-menu--is-touch-device, .main-navigation ul li.focus > ul li > ul.sub-menu--is-touch-device,
  .secondary-navigation ul li:hover > ul li > ul.sub-menu--is-touch-device,
  .secondary-navigation ul li.focus > ul li > ul.sub-menu--is-touch-device {
    display: none;
    left: 0;
  }
  /* line 402, ../sass/theme/base/_layout.scss */
  .main-navigation ul li:hover > ul li:hover > ul, .main-navigation ul li:hover > ul li.focus > ul, .main-navigation ul li.focus > ul li:hover > ul, .main-navigation ul li.focus > ul li.focus > ul,
  .secondary-navigation ul li:hover > ul li:hover > ul,
  .secondary-navigation ul li:hover > ul li.focus > ul,
  .secondary-navigation ul li.focus > ul li:hover > ul,
  .secondary-navigation ul li.focus > ul li.focus > ul {
    left: 100%;
    top: 0;
    display: block;
  }
  /* line 415, ../sass/theme/base/_layout.scss */
  .main-navigation ul ul,
  .secondary-navigation ul ul {
    float: left;
    position: absolute;
    top: 100%;
    z-index: 99999;
    left: -9999px;
    /* 1 */
  }
  /* line 422, ../sass/theme/base/_layout.scss */
  .main-navigation ul ul.sub-menu--is-touch-device,
  .secondary-navigation ul ul.sub-menu--is-touch-device {
    display: none;
    left: 0;
  }
  /* line 427, ../sass/theme/base/_layout.scss */
  .main-navigation ul ul li,
  .secondary-navigation ul ul li {
    display: block;
  }
  /* line 430, ../sass/theme/base/_layout.scss */
  .main-navigation ul ul li a,
  .secondary-navigation ul ul li a {
    width: 200px;
  }

  /* line 442, ../sass/theme/base/_layout.scss */
  ul.menu li.current-menu-item > a {
    color: #43454b;
  }

  /**
   * Primary Navigation
   */
  /* line 452, ../sass/theme/base/_layout.scss */
  .storefront-primary-navigation {
    clear: both;
    margin-left: -99em;
    margin-right: -99em;
    padding-left: 99em;
    padding-right: 99em;
  }
  /* line 2, ../sass/theme/utils/_mixins.scss */
  .storefront-primary-navigation:before, .storefront-primary-navigation:after {
    content: "";
    display: table;
  }
  /* line 6, ../sass/theme/utils/_mixins.scss */
  .storefront-primary-navigation:after {
    clear: both;
  }

  /* line 462, ../sass/theme/base/_layout.scss */
  .main-navigation div.menu {
    display: block;
  }
  /* line 466, ../sass/theme/base/_layout.scss */
  .main-navigation ul.menu,
  .main-navigation ul.nav-menu {
    max-height: none;
    overflow: visible;
  }
  /* line 473, ../sass/theme/base/_layout.scss */
  .main-navigation ul.menu > li > a,
  .main-navigation ul.nav-menu > li > a {
    padding: 1.618em 1em;
  }
  /* line 477, ../sass/theme/base/_layout.scss */
  .main-navigation ul.menu > li:first-child,
  .main-navigation ul.nav-menu > li:first-child {
    margin-left: -1em;
  }
  /* line 484, ../sass/theme/base/_layout.scss */
  .main-navigation ul.menu > li.menu-item-has-children:hover:after, .main-navigation ul.menu > li.page_item_has_children:hover:after,
  .main-navigation ul.nav-menu > li.menu-item-has-children:hover:after,
  .main-navigation ul.nav-menu > li.page_item_has_children:hover:after {
    display: block;
  }
  /* line 491, ../sass/theme/base/_layout.scss */
  .main-navigation ul.menu ul,
  .main-navigation ul.nav-menu ul {
    margin-left: 0;
  }
  /* line 496, ../sass/theme/base/_layout.scss */
  .main-navigation ul.menu ul li a,
  .main-navigation ul.nav-menu ul li a {
    padding: 0.875em 1.41575em;
    font-weight: 400;
    font-size: 0.875em;
  }
  /* line 502, ../sass/theme/base/_layout.scss */
  .main-navigation ul.menu ul li:last-child,
  .main-navigation ul.nav-menu ul li:last-child {
    border-bottom: 0;
  }
  /* line 507, ../sass/theme/base/_layout.scss */
  .main-navigation ul.menu ul ul,
  .main-navigation ul.nav-menu ul ul {
    margin-left: 0;
    box-shadow: none;
  }
  /* line 512, ../sass/theme/base/_layout.scss */
  .main-navigation ul.menu ul a:hover,
  .main-navigation ul.menu ul li:hover > a,
  .main-navigation ul.nav-menu ul a:hover,
  .main-navigation ul.nav-menu ul li:hover > a {
    background-color: rgba(0, 0, 0, 0.025);
  }
  /* line 519, ../sass/theme/base/_layout.scss */
  .main-navigation a {
    padding: 0 1em 2.29068em;
  }

  /**
   * Secondary Navigation
   */
  /* line 527, ../sass/theme/base/_layout.scss */
  .secondary-navigation {
    margin: 0 0 1.618em;
    width: auto;
    clear: none;
    line-height: 1;
  }
  /* line 533, ../sass/theme/base/_layout.scss */
  .secondary-navigation .menu {
    font-size: 0.875em;
    width: auto;
    float: right;
  }
  /* line 538, ../sass/theme/base/_layout.scss */
  .secondary-navigation .menu > li:hover > a {
    text-decoration: none;
  }
  /* line 543, ../sass/theme/base/_layout.scss */
  .secondary-navigation .menu ul a {
    padding: 0.326em 0.875em;
    background: rgba(0, 0, 0, 0.05);
  }
  /* line 548, ../sass/theme/base/_layout.scss */
  .secondary-navigation .menu ul li:first-child a {
    padding-top: 1em;
  }
  /* line 552, ../sass/theme/base/_layout.scss */
  .secondary-navigation .menu ul li:last-child a {
    padding-bottom: 1em;
  }
  /* line 556, ../sass/theme/base/_layout.scss */
  .secondary-navigation .menu ul ul {
    margin-top: -0.61805em;
  }
  /* line 561, ../sass/theme/base/_layout.scss */
  .secondary-navigation .menu a {
    padding: 1em 0.875em;
    color: #737781;
    font-weight: 400;
  }
  /* line 566, ../sass/theme/base/_layout.scss */
  .secondary-navigation .menu a:hover {
    text-decoration: none;
  }
}
@media (max-width: 66.49894em) {
  /* line 575, ../sass/theme/base/_layout.scss */
  .col-full {
    margin-left: 2.61792em;
    margin-right: 2.61792em;
    padding: 0;
  }
}
@media (max-width: 568px) {
  /* line 583, ../sass/theme/base/_layout.scss */
  .col-full {
    margin-left: 1.41575em;
    margin-right: 1.41575em;
    padding: 0;
  }
}
/* line 6, ../sass/theme/elements/_header.scss */
.site-branding .site-title {
  font-size: 1.8em;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 10, ../sass/theme/elements/_header.scss */
.site-branding .site-title a {
  font-weight: 300;
}

/* line 5, ../sass/theme/elements/_footer.scss */
.footer-credit {
  margin-top: 1em;
  font-size: 0.875em;
}
